serie_3_raspi-master/Huesystem.txt
[{"id":"1c015fec.07187","type":"tab","label":"Hue system","disabled":false,"info":""},{"id":"45d2a9b4.4e4678","type":"hue-light","z":"1c015fec.07187","name":"","bridge":"48fbcfe0.e5fa48","lightid":"1","colornamer":true,"skipevents":false,"x":800,"y":60,"wires":[["95835e4.a08da2"]]},{"id":"6e10ea1b.fb431c","type":"function","z":"1c015fec.07187","name":"lightOff","func":"msg.payload={\n    \"on\": false\n};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["45d2a9b4.4e4678","3d4219df.2c56a6"]]},{"id":"f7579346.e7fb3","type":"function","z":"1c015fec.07187","name":"lightOn","func":"msg.payload={\n    \"on\": true,\n    \"color\":msg.color\n};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["45d2a9b4.4e4678","3d4219df.2c56a6"]]},{"id":"12664cad.4642eb","type":"function","z":"1c015fec.07187","name":"dimmLight","func":"msg.payload={\n    \"on\":true,\n    \"brightness\":parseInt(msg.brightness),\n    \"color\":msg.color\n};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["45d2a9b4.4e4678","3d4219df.2c56a6"]]},{"id":"696712a7.749f9c","type":"http in","z":"1c015fec.07187","name":"","url":"huelampcontrol","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["7c70fd2c.2fdfc4"]]},{"id":"7c70fd2c.2fdfc4","type":"function","z":"1c015fec.07187","name":"","func":"msg.brightness=msg.payload.on;\nmsg.color=msg.payload.color;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c461a9db.12c0f"]]},{"id":"c461a9db.12c0f","type":"switch","z":"1c015fec.07187","name":"","property":"brightness","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":120,"wires":[["6e10ea1b.fb431c"],["f7579346.e7fb3"],["12664cad.4642eb"]]},{"id":"3d4219df.2c56a6","type":"http response","z":"1c015fec.07187","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"66f3cfa5.6dbf18","type":"mongodb in","z":"1c015fec.07187","mongodb":"76111c15.f84cc4","name":"findStatus","collection":"lampstatus","operation":"find","x":460,"y":320,"wires":[["1d6dfc2e.e336ec"]]},{"id":"48fbc803.796c7","type":"mongodb out","z":"1c015fec.07187","mongodb":"76111c15.f84cc4","name":"saveNewStatus","collection":"lampstatus","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1160,"y":60,"wires":[]},{"id":"31619ef5.a6aa7a","type":"http in","z":"1c015fec.07187","name":"","url":"huelampstatus","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["66f3cfa5.6dbf18"]]},{"id":"17fb4a3e.c2643e","type":"http response","z":"1c015fec.07187","name":"","statusCode":"","headers":{},"x":1110,"y":320,"wires":[]},{"id":"95835e4.a08da2","type":"function","z":"1c015fec.07187","name":"saveStatus","func":"msg.payload={\"on\":msg.payload.on,\"brightness\":msg.payload.brightness,\"color\":msg.payload.color}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["5379415d.737d68","48fbc803.796c7"]]},{"id":"5379415d.737d68","type":"mongodb out","z":"1c015fec.07187","mongodb":"76111c15.f84cc4","name":"removeOldStatus","collection":"lampstatus","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1170,"y":120,"wires":[]},{"id":"1d6dfc2e.e336ec","type":"function","z":"1c015fec.07187","name":"extractData","func":"msg.payload=msg.payload.pop();\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["cbc6f08a.8919f"]]},{"id":"5c680d65.1ac52c","type":"inject","z":"1c015fec.07187","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":40,"wires":[["947d5324.f310c8"]]},{"id":"947d5324.f310c8","type":"function","z":"1c015fec.07187","name":"test","func":"msg.payload={\"on\":true,\"brightness\":30,\"color\":\"green\"}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":40,"wires":[["45d2a9b4.4e4678"]]},{"id":"cbc6f08a.8919f","type":"json","z":"1c015fec.07187","name":"","property":"payload","action":"","pretty":false,"x":910,"y":320,"wires":[["17fb4a3e.c2643e"]]},{"id":"48fbcfe0.e5fa48","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.105","key":"03v-2UxB7sBj-jLD7QsAPFKZFDCt3PQa7UTYLBZa","interval":"3000","disableupdates":false},{"id":"76111c15.f84cc4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""}]