serie_3_raspi-master/Raumtemp_Google.txt
[{"id":"2f164a73.11567e","type":"tab","label":"Raumtemp google","disabled":false,"info":""},{"id":"5d5cf1ad.2e9f8","type":"http in","z":"2f164a73.11567e","name":"googleAction","url":"webhookraum","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["2025f08b.ce8ca","b9bd09d6.398df8"]]},{"id":"7a6387af.9d9c78","type":"http response","z":"2f164a73.11567e","name":"","statusCode":"","headers":{},"x":1290,"y":80,"wires":[]},{"id":"53de1091.0611c","type":"function","z":"2f164a73.11567e","name":"googleAssistantResponse","func":"msg.payload={ \"payload\":{\n    \"google\": {\n      \"expectUserResponse\": true,\n      \"richResponse\": {\n        \"items\": [\n          {\n            \"simpleResponse\": {\n              \"textToSpeech\": \"The temperature in your room is \"+msg.payload.temp+\" degrees\"\n            }\n          }\n        ]\n      }\n    }\n  }};\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":80,"wires":[["7a6387af.9d9c78"]]},{"id":"2025f08b.ce8ca","type":"http request","z":"2f164a73.11567e","name":"getRoomtemperature","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/raumalarm","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":80,"wires":[["1bcc96e.0cce969"]]},{"id":"1bcc96e.0cce969","type":"json","z":"2f164a73.11567e","name":"","property":"payload","action":"","pretty":false,"x":790,"y":80,"wires":[["53de1091.0611c"]]},{"id":"578385dd.a6733c","type":"http in","z":"2f164a73.11567e","name":"","url":"/actioncalls","method":"get","upload":false,"swaggerDoc":"","x":180,"y":240,"wires":[["902cef84.828e48"]]},{"id":"cd41a276.425e88","type":"http response","z":"2f164a73.11567e","name":"","statusCode":"","headers":{},"x":1050,"y":240,"wires":[]},{"id":"d3f4546b.b821e","type":"mongodb in","z":"2f164a73.11567e","mongodb":"e43f5bfb.057308","name":"findOldCounter","collection":"actioncalls","operation":"find","x":540,"y":160,"wires":[["142475b3.ce9642"]]},{"id":"9f1f4933.cddeb","type":"mongodb out","z":"2f164a73.11567e","mongodb":"e43f5bfb.057308","name":"saveNewCounter","collection":"actioncalls","payonly":true,"upsert":false,"multi":false,"operation":"store","x":950,"y":160,"wires":[]},{"id":"142475b3.ce9642","type":"function","z":"2f164a73.11567e","name":"updateCounter","func":"if(msg.payload.length===0){\n    msg.payload={payload:1};\n    return msg;\n}\nelse {\nvar obj={};\nobj.payload=msg.payload[0].payload+1;\nobj._id=msg.payload[0]._id;\nmsg.payload=obj;\nreturn msg;\n}","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["9f1f4933.cddeb"]]},{"id":"902cef84.828e48","type":"mongodb in","z":"2f164a73.11567e","mongodb":"e43f5bfb.057308","name":"findActionCounter","collection":"actioncalls","operation":"find","x":510,"y":240,"wires":[["c0a4f7bb.9c9a9"]]},{"id":"b9bd09d6.398df8","type":"function","z":"2f164a73.11567e","name":"triggerFind","func":"var obj={};\nreturn obj;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["d3f4546b.b821e"]]},{"id":"c0a4f7bb.9c9a9","type":"function","z":"2f164a73.11567e","name":"extractPayload","func":"msg.payload=msg.payload.pop().payload;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":240,"wires":[["cd41a276.425e88"]]},{"id":"e43f5bfb.057308","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"Website"}]